<div class="main-page">
  <div class="welcome-container"></div>
    <h1 class="welcome-heading">
      Welcome to myFlix!
    </h1>
    <h2 class="welcome-heading2">
      Discover your new favorite movie here.
    </h2>
    <div>
      <button
        class="welcome-button"
        mat-raised-button
        (click)="openUserRegistrationDialog()"
        color="primary"
        >
        Sign Up
      </button>
      <button
        class="welcome-button"
        mat-raised-button
        (click)="openUserLoginDialog()"
        color="primary"
        >
        Login
      </button>
    </div>
  </div>
  
