<div class="nav-bar">
  <mat-toolbar>
    <span style="margin-left: 10px;">MyFlix Movies</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="launchMoviePage()" class="movie-icon"
      aria-label="icon button with a clapperboard icon">
      <mat-icon>movie</mat-icon>
    </button>
    <button mat-icon-button (click)="launchProfilePage()" class="account-icon"
      aria-label="icon-button with account circle icon">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button (click)="logoutUser()" class="account-icon"
      aria-label="icon-button with account circle icon">
      <mat-icon>home_page</mat-icon>
    </button> 
  </mat-toolbar>
</div>

