<app-navbar></app-navbar>

<div class="movie-container">
    <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;" class="movie-card">
        <mat-card-header>
        <mat-card-title>{{movie.Title}}</mat-card-title>
            <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{movie.ImagePath}} alt= {{movie.Title}}/>
        <mat-card-actions>
            <button
                mat-button
                (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)"
                color="primary"
            >
                Genre
            </button>
            <button
                mat-button
                (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio, movie.Director.Birth, movie.Director.Death)"
                color="primary"
            >
                Director
            </button>
            <button
                mat-button
                color="primary"
                (click)="openSynopsisDialog(movie.Description)"
            >
                Synopsis
            </button>
            <button mat-button color="warn" 
            (click)="isFavorite(movie._id) ? deleteFavMovies(movie._id) : addFavMovies(movie._id)">
                <mat-icon>{{isFavorite(movie._id) ? 'favorite' : 'favorite_border' }}</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>